*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance:none;
}
html {
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
}

body {
  width: 100vw;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.container>div {
  width:100%;
  background: #fff;
  margin: 10px 0;
  padding: 10px 20px;
  border-style: solid;
  border-width: 0.5px 0;
  border-color: #888;
}

.warning {
  color: #f1c40f;
  font-weight: bold;
  text-align: center;
}

.compatible {
  text-align: center;
  color: #fff;
  background: #e74c3c !important;
}

.compatible.ok{
  background: #27ae60 !important;
}

.screenshots {
  overflow: scroll;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.screenshots>img {
  width: 200px;
  display: inline-block;
  margin: 20px;
}

.description{
  font-size: 0.75rem;
  white-space:pre-wrap;
}

.info>div {
  margin: 10px 0;
  text-align: right;
  position: relative;
  border-bottom: #888 solid 1px;
}

.k {
  position: absolute;
  bottom: 2px;
  color: #888;
  font-size: 0.8rem;
}
.log {
  margin: 10px 0;
  font-size: 0.7rem;
}
.log>p:first-child {
  font-weight: bold;
}
.log>p:last-child {
  margin: 0 20px;
}

