*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance:none;
}
html{
  font-size: 16px;
  font-family: sans-serif;
  color: #000;
  transform: translate3d(0,0,0);
}
body{
  width:100vw;
}
.container{
  margin: 0 auto;
  max-width:500px;
  width:100%;
}

.container>div{
  width:100%;
  background: #fff;
  margin: 10px 0;
  padding: 10px 20px;
  box-shadow: #666 0 0 3px;
}

#compatible{
  text-align: center;
  color: #33f;
  background: #f88;
}
#compatible.ok{
  background: #8f8;
}
#screenshots{
  overflow: scroll;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
#screenshots>img{
  width: 200px;
  display: inline-block;
  margin: 20px;
  box-shadow:#ccc 0 0 5px;
}
#description{
  font-size: 0.75rem;
  white-space:pre-wrap;
}
.info>div{
  margin:10px 0;
  text-align: right;
  position: relative;
  border-bottom: #eee solid 1px;
}
.k{
  position: absolute;
  bottom: 2px;
  color: #666;
  font-size: 0.8rem;
}


#form.closed #done{
  transform: scale(1,1);
  z-index: 3;
}

#form{
  position: relative;

  text-align:center;
  z-index: 2;
}
#done{
  transition: all .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(0,0);
  border-radius: 16px;
  background: #66f;
  font-size: 2rem;
  color: #fff;
  padding: 10px;
  z-index: 1;
}


#comment{
  display:block;
  margin: 10px auto;
  resize: vertical;
  width: 100%;
  padding: 5px;
  min-height:7em;
  font-size: 20px;
  background: #eee;
  border-radius: 16px;
  border: none;
  box-shadow:0 0 5px #ccc inset;
  text-align: left;
}
.submit{
  font-size: 0;
}
#works, #broken{
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  width: 50%;
}
#works{
  border-radius: 16px 0 0 16px;
  background:#6f6;
}
#broken{
  border-radius: 0 16px 16px 0;
  background:#f66;
}

.log{
  margin: 10px 0;
  font-size: 0.7rem;
}
.log>p:first-child{
  font-weight: bold;
}
.log>p:last-child{
  margin: 0 20px;
}

